---
import Nav from "./Nav.astro";
import DarkModeToggle from "./DarkModeToggle.astro";
---

<header class="">
  <a
    class="unset absolute z-10 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-[initial]"
    href="#main"
  >
    Skip to content
  </a>
  <Nav />
  <div
    class="justify-self-end py-2 flex items-center content-center text-text-bold"
  >
    <a
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 ease-in-out bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-yellow to-primary-yellow dark:bg-none dark:hover:text-primary-yellow"
      href="https://github.com/Jocs/jocs.github.io"
    >
      <i class="fa-brands fa-github" aria-hidden="true" title="Blogster on GitHub"></i>
      <span>GitHub</span>
    </a>
    <a
      class="unset ml-4 rounded-sm transition-[background-size] duration-150 bg-left-bottom bg-[length:0%_55%] hover:bg-[length:100%_55%] bg-no-repeat bg-gradient-to-r from-primary-blue to-primary-blue dark:bg-none dark:hover:text-primary-blue"
      href="https://twitter.com/ransixi"
    >
      <i class="fa-brands fa-twitter" aria-hidden="true" title="Dinesh on Twitter"></i>
      <span>Twitter</span>
    </a>
  </div>
  <DarkModeToggle />
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }
</style>
