---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const path = Astro.url.pathname.replace(/\/$/, "");

const isHome = href === '/' && path === '';
const isOtherPages = typeof href === "string" && href.length > 1
    ? path.substring(1).startsWith(href.substring(1))
    : false;
const isActive = isHome || isOtherPages

---
<!-- DO NOT FORMAT. IT ADDS AN EXTRA SPACE ON RENDERED CONTENT. -->
<a
  href={href}
  class:list={[
    className,
    { "show": isActive },
    "unset animated-link",
  ]}
  {...props}
><slot /></a>
