---
---

<div>
  <p>
    Here are some projects created by me:
  </p>
  <ul class="mt-5">
    <li>
      <a href="https://github.com/marktext/marktext" target="_blank"><strong>MarkText</strong></a>
      A simple and elegant open-source markdown editor that focused on speed and usability.
      <p>
        <img src="./images/marktext.png" alt="marktext">
      </p>
    </li>
    <li>
      <a href="https://www.mindbox.cc/" target="_blank"><strong>MindBox</strong></a>
      A thinking writing assistant that makes ideas happen better.
      <p>
        <img src="./images/mindbox.png" alt="mindbox">
      </p>
    </li>
  </ul>
</div>
