---
type Props = {
  url: string;
};

const { url } = Astro.props;
---

<div class="relative not-prose flex flex-col items-center justify-center">
  <blockquote
    class="twitter-tweet"
    data-conversation="none"
    data-theme="light"
    data-lang="en"
    data-dnt="true"
  >
    <a class="unset absolute left-0 top-0" href={url}>Loading embedded tweet...</a>
  </blockquote>
</div>
<script
  async
  defer
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>
